# Ignore the virtual environment folder
venv/
.venv/
*.cfg

# Ignore PyInstaller build and distribution folders
build/
dist/
release/
Output/
Application Folder/
*.spec

# Ignore Log files
logs/
*.log

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore other IDE-specific files (optional)
.idea/
*.swp
*.swo
*.DS_Store

