# GUI Framework
Kivy==2.2.1
KivyMD==1.2.0

# Data Processing & Image Processing
numpy==1.25.1
opencv-python==4.8.1.78

# Database & Communication
mysql-connector-python==8.2.0
mysqlclient==2.2.0
paramiko==3.4.0
pymodbus==3.5.4

# Serial & USB Communication
pyserial==3.5
pyusb==1.2.1
python-dateutil==2.9.0

# Windows Integration
pywin32==306

python_escpos==3.1
bcrypt==4.0.0
pyinstaller==5.1.0
fpdf==1.7.2